* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    color: black;
    background-color: #f9f9f9;
    letter-spacing: 0.07em;
}

/* nav bar*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  padding: 40px 25px 25px;
  position: relative;
}

a {
    text-decoration: none;
    font-size: 18px;
}

a:hover, .imgView img:hover, .popup button:hover, .popup span:hover, #hamburger:hover{
  cursor: pointer;
}

a:hover{
  color:rgb(50, 50, 50);
  font-style: italic;
}

#name, #ft_name{
  font-size: 30px;
}

#name{
  position: relative;
  letter-spacing: 0;
}

#hamburger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ham_line{
  width: 27.5px;
  height: 1px;
  margin: 6px 0;
  transition: 0.3s ease;
  background-color: #000000;
}

#nav_list{
  display: none;
  position: absolute;
  font-size: 24px;
}

#nav_list.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;;
  top: 89px;
  right: 0;
  width: 100%;
  height: 90vh;
  gap: 30px;
  position: fixed;
}

#hamburger.active .ham_line:nth-child(1){
  transform: translate(0px, 6.5px) rotate(45deg);
}

#hamburger.active .ham_line:nth-child(2){
  transform: translate(0px, -6.5px) rotate(-45deg);
}

body.active{
  overflow: hidden;
}

#insta{
  margin-top: 8px;
  width: 25px;
  height: 25px;
}

.albums{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.home_img{
  padding: 50px 50px 25px;
  gap: 20px; 
  width: 90vw;
  height: 115vw;
  object-fit: cover;
}

.imgView{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.imgView img{
  margin: 20px auto;
  width: 80vw;
  height: 100%;
}

.home_img:hover, .imgView img:hover{
  opacity: 60%;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.popup span{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 60px;
  z-index: 100;
  background-color: transparent;
}

.popup img{
  position: absolute;
  top: 31vw;
  left: 2.5vw;
  width: 95vw;
  object-fit: cover;
}

.popup button{
  display: flex;
  align-items: end;
  border: none;
  font-size: 20px;
  width: 50vw;
  height: 100vh;
  padding: 0 10px 30px;
}

.popup button:hover{
  background-color: transparent;
  font-size: 22px;
  color: black;
}

.prev{
  display: inline;
  float: left;
}

.next{
  display: inline;
  float: right;
  justify-content: end;
}

/* contact.html */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactTxt{
  font-size: 50px;
  padding: 40px;
  text-align: center;
}

#contactForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  padding: 20px;
  width: 90vw;
}

input, textarea, button{
  margin: 5px 0 18px;
  border: 1px solid black;
  border-radius: 5px; 
}

input{
  height: 40px;
}

textarea{
  height: 100px;
}

label, button{
  font-size: 15px;
}

.flname{
  display: flex;
  flex-direction: column;
  width: 48%;
}

#contactName{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  width: 65px;
  height: 28px;
  margin: 10px auto;
}

button:hover{
  background-color: #000000;
  color: white;
}

footer{
  display: flex;
  bottom: 0;
  padding: 25px;
  justify-content: space-between;
  align-items: flex-end;
}

hr{
  margin: 70px auto 20px;
  width: 92%;
}

#footer_list{
  text-align: right;
}

#footer_list p{
  padding-bottom: 8px;
}

#ft_insta{
  margin-top: 6px;
  width: 20px;
  height: 20px;
}

.about{
  display: flex;
  flex-direction: column;
  margin: 50px 20px;
  align-items: center;
}

#sally, #about_sally{
  width: 55vw;
  height: 100%;
}

#about_sally{
  margin: 40px;
  text-align: center;
  font-size: 17px;
}


@media (min-width: 700px){
  nav{
      margin: 20px 30px;
  }

  #hamburger{
    display: none;
  }

  #nav_list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    right: 0;
    align-items: center;
    padding-right: 24px;
  }

  #insta{
      width: 24px;
      height: 24px;
      margin-bottom: 5px
  }

  #mainContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 55px;
  }

 .home_img{
    width: 40vw;
    height: 45vh;
    object-fit: cover;
    padding: 20px 0px;
 }

 .imgView{
    flex-direction: row;
    margin: auto 40px;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .imgView img{
    width: 42vw;
    height: 45vh;
    object-fit: cover;
 }

  .contact{
      margin: 30px auto;
      flex-direction: row;
      width: 96%;
      padding-top: -5px;
      justify-content: center;
  }

  #contactForm{
      width: 42%;
      margin-left: 40px
  }

  #contactTxt{
      font-size: 55px;
      letter-spacing: 0.04em;
      text-align: left;
      padding-left: 0px;
  }
  
  .popup img{
    top: 13.3vw;
    left: 12.5vw;
    width: 75vw;
    height: 80vh;
  }

  .popup button{
    padding: 0 30px 40px;
    font-size: 28px;
  }

  .popup button:hover{
    font-size: 30px;
  }

  .about{
    flex-direction: row;
  }

  #sally{
    margin-left: 30px;
    width: 40vw;
    border-radius: 70px;
  }
  
  #about_sally{
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  nav{
    margin: 5px 30px;
  }

  .home_img{
    width: 29vw;
    height: 72vh;
  }

  .imgView img{
    width: 29vw;
    height: 56vh;
  }

  .popup img{
    top: 4.1vw;
    left: 31vw;
    width: 38vw;
    height: 86vh;
  }

  .popup button{
    padding: 0 30px 40px;
    font-size: 20px;
  }

  .popup button:hover{
    font-size: 22px;
  }

  #sally{
    width: 34vw;
    margin-left: 10vw;
  }

  #about_sally{
    width: 36vw;
    margin-left: 7vw;
    font-size: 24px;
  }
}